@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Scrollbar === */

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #a78bfa;
}

::-webkit-scrollbar-thumb:hover {
    background: #a78bfa;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background: #4b5563;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #a78bfa;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #a78bfa;
    }
}